
h1 {font-family:Train One<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap"> cursive; color: rgb(142, 68, 173 ); font-size: 110%; 
text-shadow: 1px 1px pink}
 

p  {font-family:<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">cursive; color: rgb(173, 20, 87 ); font-size: 80%;}
